html {
    --bcolor: rgb(40, 56, 72);
    --bcolora: rgba(40, 45, 72,0.8);
    --acolor: rgb(255, 236, 144) ;
    
    --s1color: rgba(0, 0, 0, 0.8);
    --s2color: rgba(0, 0, 0, 0.6);
    --tcolor: #ddd;
    --htcolor: #ddd;

    --rhcolor: #002034;
    --rbcolor: #0078c8;
    
    --bwidth: 260;
    --bheight: 230;
    
    box-sizing: border-box;
    height: 100%;
    background: url('../img/grid.png'), url('../img/tilenoise.png');
    background-attachment: fixed;
    background-color: var(--bcolor);
}

*,*:before,*:after {
    box-sizing: inherit;
}

body {
    height: 100%;
    max-width: 960px;
    margin: 0 auto;
    color: var(--tcolor);
    font-size: 16px;
}


header#name-banner {
    /*    min-height: 2.5em;*/
    width: 100%;
    max-width: inherit;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
    background: inherit;
    background-color: var(--bcolor);
    color: var(--htcolor);
    font-size: 20px;
    line-height: 1.7em;
    z-index: 100;
    border-bottom: 2px solid black; /*Or get a darker blue*/
}

ul.social {
    padding: 0;
    line-height: 1.5em;
    margin-top: 1.25em;
}
ul.social li {
    display: inline;
}
ul.social li a {
    padding: 1em;
}

span#whichknauft {
    display: block;
    float: right;
    color: var(--acolor);
}

article h1{
    margin-top:-2em;    
    font-family: sans-serif;
    font-size: 2em;
    font-weight:100;
    color: var(--acolor);
}




#descriptions {
    height: 100%;
}
#descriptions article {
    min-height: 800px;/*100%;*/
    padding: 8em 2em;
    background-color: var(--s1color);
}
#descriptions article:nth-of-type(2n) {
    background-color: var(--s2color);
}

.projectgrid{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0;
    clear:both;
}

.projectentry{
    width: calc(var(--bwidth)*1px);
    height:calc(var(--bheight)*1px);
    margin: 10px;
    
    background-size: calc(var(--bheight)*1px);
    background-position: bottom;
    background-repeat: no-repeat;
    background-clip: padding-box;
    
    border-radius: 2% 2% 25% 10%;
    overflow-y:auto;/*hidden*/
    overflow-x:hidden;
    background-color: var(--bcolor);
}

.projectentry > *{
    background-color: var(--bcolora);
    margin:0;
    padding:0 10px;
    font-weight: 200;
}

.projectdetail h2{
/*    text-align: center;*/
    margin:0;
    padding: 0.5em 10px;
    font-size: 1.25em;
    font-family: sans-serif;
}


/* Resume */
.resume {
    position: relative;
    float: left;
    top: -1.4em;
    width: calc(var(--bwidth)*1.1px);
    flex: 0 0 calc(var(--bwidth)*1.1px); /* grow shrink basis */
    background-color: var(--rbcolor);
    padding: 1.5em 5px 0px 40px;
    font-size: smaller;
}
.resume::before {
    position: absolute;
    top: 0;
    line-height: 2em;
    left: 0;
    right: 0;
    background-color: var(--rhcolor);
    content: 'Resume (exc.)';
    text-align: center;
}
.resume-entry {
    text-indent: -35px;
    padding-bottom: 8px;
/*    border-bottom: 2px solid var(--tcolor);*/
}
.resume .year {
    padding-right: 3px;
    margin-right: 5px;
    margin-left:-17px;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}
.resume .title {
    font-variant: small-caps;
}
.resume .location {
    font-style: normal;
}
.resume .description {
    font-style: italic;
    font-size: smaller;
}


/*GoodReads*/
.gr_grid_container {
    /* customize grid container div here. eg: width: 500px; */
}

.gr_grid_book_container {
    /* customize book cover container div here */
    float: left;
    width: 39px;
    height: 60px;
    padding: 0px 0px;
    overflow: hidden;
}




a {
}
a:link{
    color: #6BB2FF;
}
a:visited{
    color: #6D73E8;
}
a:focus, a:hover{
    color: #A76BFF;
}
a:active{
    color: #69E8F5;
}


em {
    font-size: 18px;
    font-weight: 400;
    color: var(--acolor);
}

strong {
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 400;
    color: var(--acolor);
}

blockquote {
    font-size: 18px;
    font-family: sans-serif;
    font-style: italic;
    text-align: justify;
    hyphens: auto;
    border-left: 2px solid white;
    margin: 0;
    padding: 0.5em 1em;
}
blockquote strong{
    font-size:inherit;
    color:#b1a464;
}

cite{
    display: block;
    font-size:smaller;
    font-style: normal;
    padding-top: 0.5em;
}
cite:before{
    content: '\2015';
}
.uline {
    text-decoration: underline;
}
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.moresides {
    margin: 0 3em;
}
